h1, h2, h3, h4, h5, h6, p {
  font-family: roboto;
  font-weight: 400;
  color: rgb(70, 82, 92);
}

.title{
  font-family: 'Cantarell', sans-serif;
  color: white;
  font-style: italic;
}

.btn-primary {
  background-color: #694966;
  border-color: #694966;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #7c5678;
  border-color: #7c5678;
  outline: 0;
}

.menu {
  width: 25px;
  height: 25px;
}

#vehicles, .vehicles{
  margin: 5px;
}